nav.principal
	.ed-container
		.ed-item.no-padding
			ul.ed-menu.nav-bar.web-horizontal
				li: a(href="./" class="inicio") inicio
				li: a(href="./portafolio.html" class="portafolio") portafolio
				li: a(href="./servicios.html" class="servicios") servicios
				li: a(href="./contacto.html" class="contacto") contacto