body
{
	font-family: 'Lato' !important;
	font-size: 16px;
	font-weight:300;
}

main
{
	min-height: 100vh;
	padding-bottom: 150px;
	position: relative;
}

.banner
{
	min-height: 550px;
	.fondo
	{
		background-image: url(/img/paisajes/volcan_osorno.jpg);
		background-size: cover;
		// background-repeat: no-repeat;
		// background-attachment: fixed;
		// background-position:0 -477px;
		background-position: center center;
	}
	.texto
	{
		// background-color: rgba(black, .3);
		max-width: 20em;
		font-size: 2em;
		// font-weight: bold;
		color: rgba(white,	.8);
		text-shadow:1px 1px 4px rgba(0,0,0, 0.3);
		text-align: center;
		// padding: 1em;
		margin-top:2em;
		// border-radius: .5em;
		font-family: 'Droid Serif' ;
		font-weight: 400;
		font-style: italic;
	}
}

// .version
// {
// 	padding:1em;
// 	a
// 	{
// 		text-align:center;
// 	}
// }

// .nav-bar
// {
// 	&:focus
// 	{
// 		background-color:black;
// 		color:white;
// 	}
// 	margin-bottom:1em;
// }


.formulario
{
	iframe
	{
		margin: 1em auto;
		display: inherit;
		background-color: transparent !important;
		border-radius: 1em;
	}
}

.contacto
{
	// position: relative;
	// background-color:lightblue;
	.backgroundBg
	{
		background:transparent !important;
	}
	>div
	{
		margin-bottom:2em;
	}
	iframe
	{
		// position:absolute;
		display: inherit;
		height:650px;
		width:100%;
		border:none;
	}
}