// todo: estrategia para subniveles en moviles

// Por defecto el menú es vertical. Se debe añadir la clase
// .tablet-horizontal o .web-horizontal para definir a partir
// de qué tamaño será horizontal
.ed-menu {
  // resetear los estilos de menu principal y submenus
  &,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  // preparar contexto para posicionar los submenus
  li {
    position: relative;
  }

  ul {
    // Submenus ocultos y posicionados por defecto
    position: absolute;
    display: none;
  }

  // Igualar tamaño de los <a> a su contenedor <li>
  a {
    display: block;
    width: 100%;
    line-height: 2em;
    padding: 0 1em;
  }

  // Estilo predeterminado (añadiendo la clase .default)
  &.default {
    background: #eee;
    li {
      // Permitir a los <li> crecer hasta llenar todo_ el espacio
      flex: 1;
      // El hover en el <li> (y no en <a>) se mantiene aunque se descienda a sus hijos
      &:hover {
        background: rgba(#000,.1);
      }
    }
    // submenús
    ul {
      background: darken(#eee,5);
    }
    a {
      color: #666;
    }
  }

  // Estilo predeterminado (añadiendo la clase .default)
  &.principal {
    background: none;
    li {
      // Permitir a los <li> crecer hasta llenar todo_ el espacio
      flex: 1;
      // El hover en el <li> (y no en <a>) se mantiene aunque se descienda a sus hijos
      &:hover {
        // background: rgba(200,255,10,.2);
        background: rgba(black,.1);
      }
    }
    // submenús
    ul {
      background: darken(#eee,5);
    }
    a {
      color: #666;
      &:hover
      {
        // color:rgba(#BD8541,1) !important;
      }
    }
  }

  // Estilo barra de navegación (con la clase .nav-bar)
  &.nav-bar {
    // hereda todas las propiedades de .default
    @extend .principal;
    // $border: 1px solid rgba(#000,.1);
    $border: none;
    border: $border;
    // Bordes inferiores a los <li> menos el último
    // porque el menú es vertical
    li {
      border-bottom: $border;
      &:last-child {
        border-right: none;
      }
    }

    // Submenús
    ul {
      border: $border;
      li {
        border-bottom: $border;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  // Estilo barra de botones (añadiendo la clase .button-bar)
  &.button-bar {
    li {
      margin-bottom: .5em;
      margin-right: .5em;
    }
    a {
      border: 1px solid rgba(#000, .1);
      display: block;
      background: #eee;
      line-height: 2.5em;
      margin-right: .5em;
      padding: 0 1.5em;
      border-radius: 4px;
      color: #666;
      &:hover {
        background: rgba(#000,.1);
      }
    }
  }
}

// Mixin para crear menús horizontales según tamaños
@mixin menu-horizontal($size) {
  @include from($size){
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    &.nav-bar {
      > li {
        border-right: 1px solid rgba(#000,.1);
        border-bottom: none;
      }
    }

    a {
      text-align: center;
    }
    // Submenús
    ul {
      position: absolute;
      top: 100%;
      min-width: 10em;
      ul {
        // Posicion de los sub-sub menús
        top: 0;
        left: 100%;
      }
    }
    // Mostrar los submenus
    li:hover > ul{
      display: block;
    }
  }
}

// Menú horizontal desde tablet
.tablet-horizontal {
  @include menu-horizontal(tablet)
}

// Menu horizontal desde web
.web-horizontal {
  @include menu-horizontal(web)
}